        body * {
            font-family: "Raleway", sans-serif;
        }
        
        * {
            box-sizing: border-box;
        }
        
        .container {
            max-width: 1340px;
            margin: 0 auto;
            padding: 0 20px;
        }
        
        body {
            width: 100%;
            margin: 0;
        }
        
        footer li {
            color: black;
            text-decoration: none;
            list-style-type: none;
        }
        
        footer li a {
            color: black;
            text-decoration: none;
        }
        
        header ul.signup {
            list-style-type: none;
            float: right;
            padding: 0;
            margin: 0;
        }
        
        header ul.signup2 {
            list-style-type: none;
            float: right;
            padding: 0;
            margin: 0;
        }
        
        h1 {
            margin: 0;
            padding: 0;
            float: left;
            padding-top: 45px;
        }
        
        img {
            width: 100px;
            height: 28px;
        }
        
        header ul a {
            margin: 5px 20px;
            color: #0065FC;
            padding: 5px 0;
            float: left;
            text-decoration: none;
        }
        
        header ul.signup2 li.item2 a {
            margin: 5px 20px;
            color: black;
            padding: 5px 0;
            float: left;
            text-decoration: none;
        }
        
        .logare {
            font-weight: bold;
        }
        
        .item:active,
        .item.activ {
            border-top: 2px solid #0065FC;
        }
        
        .item {
            padding-top: 45px;
            color: #0065FC;
            border-top: 2px solid transparent;
            float: left;
            font-size: 15px;
        }
        
        .item2 {
            padding-top: 45px;
            color: black;
            border-top: 2px solid transparent;
            float: left;
            font-size: 15px;
        }
        
        footer ul {
            float: left;
        }
        
        .i1,
        .i3,
        .i5 {
            width: 100%;
        }
        
        .i2,
        .i4,
        .i6 {
            margin-top: 10px;
        }
        
        .fil,
        .fil2 {
            float: left;
            font-weight: bold;
        }
        
        .fil {
            padding: 20px;
        }
        
        .fil2 {
            padding-top: 8px;
        }
        
        .fil a.a31 {
            display: none;
        }
        
        .fil1 a {
            border: 3px solid #F2F2F2;
            border-radius: 30px;
            font-size: 13px;
            font-weight: bold;
            padding-left: 0;
            height: 30px;
            text-decoration: none;
            color: black;
            float: left;
            margin-right: 15px;
            width: 150px;
        }
        
        header,
        main,
        footer {
            width: 100%;
            float: left;
        }
        
        footer {
            background-color: #F2F2F2;
        }
        
        main .text p {
            font-size: 15px;
        }
        
        .fil a i {
            color: #0065FC;
            background-color: #AFEEEE;
            border: 5px solid #AFEEEE;
            border-radius: 50%;
            height: 25px;
            width: 25px;
            text-align: center;
            line-height: 15px;
            margin-right: 15px;
        }
        
        .fil1 a:hover {
            background-color: #AFEEEE;
        }
        
        main .fil1 {
            float: left;
            clear: left;
        }
        
        .b1 {
            float: left;
            position: relative;
        }
        
        .b1 i {
            border-left: 3px solid #F2F2F2;
            background-color: #F2F2F2;
            width: 20px;
            float: left;
            height: 26.5px;
            text-align: center;
            line-height: 26.5px;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            position: absolute;
            margin-top: 1.5px;
            margin-left: 1.5px;
        }
        
        input[type=text] {
            background-color: white;
            border: 1px solid #F2F2F2;
            float: left;
            height: 29.5px;
            text-align: center;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }
        
        input {
            color: #F2F2F2;
            border-bottom-left-radius: 10px;
        }
        
        input:focus,
        input:focus-visible {
            outline: 0;
            border-color: #c9c9c9;
        }
        
        button.desktop {
            cursor: pointer;
            border: 3px solid #0065FC;
            background-color: #0065FC;
            color: white;
            border-bottom-right-radius: 15px;
            border-top-right-radius: 15px;
            height: 29.5px;
            display: block;
        }
        
        button.mobile {
            display: none;
        }
        
        .b1 {
            float: left;
        }
        
        .tot .mars {
            float: left;
            clear: left;
            background-color: #F2F2F2;
            border-radius: 15px;
            width: 60%;
        }
        
        main .mars h3 {
            margin-left: 20px;
            margin-top: 25px;
        }
        
        main .most h3 {
            margin: 0;
        }
        
        .camere {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            width: 100%;
            justify-content: space-around;
        }
        
        .camere .camera {
            width: 28.5%;
            background-color: white;
            border-radius: 25px;
            border: 4px solid white;
            overflow: hidden;
            margin-bottom: 30px;
        }
        
        .mars .camere a {
            position: relative;
            height: 0;
            padding-bottom: 60.73%;
            width: 100%;
            float: left;
        }
        
        .mars .camere a img.desktop {
            position: absolute;
            width: auto;
            height: auto;
            max-width: 100%;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
        }
        
        .mars .camere a img.mobile {
            display: none;
        }
        
        .mars a {
            text-decoration: none;
            color: black;
        }
        
        .mars .detalii {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 10px 10px 0 0;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        
        .mars .detalii p {
            margin: 0 0 0 10px;
            font-size: 10px;
        }
        
        .mars .detalii h5 {
            margin: 0 0 0 10px;
            font-size: 13px;
        }
        
        .mars a h5 {
            margin: 0 0 10px 20px;
        }
        
        .campop .camep {
            background-color: white;
            border-radius: 25px;
            border: 2px solid white;
            overflow: hidden;
            display: flex;
            margin-top: 20px;
        }
        
        .most .campop {
            float: left;
            width: 100%;
        }
        
        .most .camep a img {
            position: absolute;
            width: auto;
            height: 100%;
            max-width: 100%;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            float: left;
        }
        
        .most .camep a {
            position: relative;
            height: 0;
            padding-bottom: 30%;
            float: left;
            width: 40.12%;
        }
        
        .most {
            padding: 20px;
            box-sizing: border-box;
            background-color: #F2F2F2;
            border-radius: 20px;
            float: right;
            width: 35%;
        }
        
        .most h3 a .fas {
            float: right;
            margin-right: 20px;
            color: black;
            width: 20px;
        }
        
        .most .detalii {
            display: flex;
            flex-direction: column;
            width: 60%;
            padding: 10px 30px 10px 10px;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        
        .most .rating {
            unicode-bidi: bidi-override;
            color: #c5c5c5;
            font-size: 15px;
            height: 15px;
            width: 60px;
            margin: 0;
            position: relative;
            padding: 0;
            align-self: baseline;
        }
        
        .most .rating-upper {
            color: #0065FC;
            padding: 0;
            position: absolute;
            z-index: 1;
            display: flex;
            top: 0;
            left: 0;
            overflow: hidden;
        }
        
        .most .rating-lower {
            padding: 0;
            display: flex;
            z-index: 0;
        }
        
        .most .detalii p {
            font-size: 10px;
            margin: 0 0 auto 0;
        }
        
        .most .detalii h5 {
            min-height: 32px;
            font-size: 13px;
            margin: 0;
            align-self: flex-start;
        }
        
        .rating {
            unicode-bidi: bidi-override;
            color: #c5c5c5;
            font-size: 15px;
            height: 15px;
            width: 60px;
            margin: 0 0 10px 10px;
            position: relative;
            padding: 0;
            float: left;
            text-align: left;
        }
        
        .rating-upper {
            color: #0065FC;
            padding: 0;
            position: absolute;
            z-index: 1;
            display: flex;
            top: 0;
            left: 0;
            overflow: hidden;
        }
        
        .rating-lower {
            padding: 0;
            display: flex;
            z-index: 0;
        }
        
        .activitati {
            width: 100%;
            clear: left;
            padding: 20px;
        }
        
        .activitati .locuri {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 380px;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        
        .locuri .loc {
            width: 22%;
            background-color: white;
            border-radius: 25px;
            box-shadow: 1px 0px 0px 1px #C0C0C0;
            overflow: hidden;
            display: flex;
            flex-direction: column;
        }
        
        .locuri .loc1 {
            width: 24%;
            background-color: white;
            border-radius: 25px;
            box-shadow: 1px 0px 0px 1px #C0C0C0;
            overflow: hidden;
            display: flex;
            flex-direction: column;
        }
        
        .locuri .loc a {
            position: relative;
            padding-bottom: 120%;
            width: 100%;
            float: left;
        }
        
        .locuri .loc1 a {
            position: relative;
            padding-bottom: 56%;
            width: 100%;
            float: left;
        }
        
        .locuri .loc a img.desktop {
            position: absolute;
            width: auto;
            height: auto;
            max-width: 100%;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            display: block;
        }
        
        .locuri .loc a img.mobile {
            display: none;
        }
        
        .locuri .loc a img.mobile1 {
            display: none;
        }
        
        .locuri .loc a img.mobile2 {
            display: none;
        }
        
        .locuri .loc1 a img.mobile {
            display: none;
        }
        
        .locuri .loc1 a img.mobile1 {
            display: none;
        }
        
        .locuri .loc1 a img.mobile2 {
            display: none;
        }
        
        .locuri .loc1 a img.desktop {
            position: absolute;
            width: auto;
            height: auto;
            max-width: 100%;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            display: block;
        }
        
        main .info {
            display: flex;
            flex-direction: row;
            width: 100%;
            padding: 20px 20px 20px 0;
            font-family: "Raleway", sans-serif;
            font-size: 15px;
        }
        
        main .info i::before {
            margin-right: 5px;
            color: #0065FC;
            border-radius: 50%;
            font-size: 10px;
            background-color: white;
            border: 3px solid #F2F2F2;
            padding: 8px;
        }
        
        main .info p {
            margin: 0 0 0 5px;
            max-width: 27%;
        }
        
        .locuri .loc12 a {
            position: relative;
            padding-bottom: 33%;
            width: 100%;
            float: left;
        }
        
        .locuri .loc12 a img.desktop {
            position: absolute;
            width: auto;
            height: auto;
            max-width: 100%;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            display: block;
        }
        
        .locuri .loc12 a img.mobile {
            display: none;
        }
        
        .locuri .loc12 a img.mobile1 {
            display: none;
        }
        
        .locuri .loc12 a img.mobile2 {
            display: none;
        }
        
        .locuri .loc12 {
            width: 24%;
            background-color: white;
            border-radius: 25px;
            box-shadow: 1px 0px 0px 1px #C0C0C0;
            overflow: hidden;
            display: flex;
            flex-direction: column;
        }
        
        .tot {
            display: flex;
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
        }
        
        .locuri .loc12 p {
            font-weight: bold;
            font-size: 15px;
            margin-left: 10px;
        }
        
        .locuri .loc1 p {
            font-weight: bold;
            font-size: 15px;
            margin-left: 10px;
        }
        
        .locuri .loc p {
            font-weight: bold;
            font-size: 15px;
            margin-left: 10px;
        }
        
        .foter {
            display: flex;
            flex-direction: row;
        }
        
        @media only screen and (max-width: 1024px) {
            .locuri .loc1 a img.mobile {
                display: block;
                position: absolute;
                width: auto;
                height: auto;
                max-width: 100%;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
            }
            .locuri .loc1 a img.desktop {
                display: none;
            }
            .locuri .loc1 a img.mobile1 {
                display: none;
            }
            .locuri .loc1 a img.mobile2 {
                display: none;
            }
            .locuri .loc a img.mobile {
                display: block;
                position: absolute;
                width: auto;
                height: auto;
                max-width: 100%;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
            }
            .locuri .loc a img.desktop {
                display: none;
            }
            .locuri .loc1 a img.mobile1 {
                display: none;
            }
            .locuri .loc1 a img.mobile2 {
                display: none;
            }
            .locuri .loc12 a img.mobile {
                display: block;
                position: absolute;
                width: auto;
                height: auto;
                max-width: 100%;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
            }
            .locuri .loc12 a img.desktop {
                display: none;
            }
            .locuri .loc12 a img.mobile1 {
                display: none;
            }
            .locuri .loc12 a img.mobile2 {
                display: none;
            }
            .locuri .loc1 a {
                position: relative;
                padding-bottom: 50%;
                width: 100%;
                float: left;
            }
            .locuri .loc12 a {
                position: relative;
                padding-bottom: 33%;
                width: 100%;
                float: left;
            }
            .activitati .locuri {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 296px;
                flex-wrap: wrap;
                justify-content: space-between;
            }
            .most .camep a {
                position: relative;
                height: 0;
                padding-bottom: 48%;
                float: left;
                width: 40.12%;
            }
            .mars .camere a img.desktop {
                position: absolute;
                width: auto;
                height: auto;
                max-width: 100%;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
            }
            .mars .camere a img.mobile {
                display: none;
            }
            .fil a.a31 {
                display: none;
            }
            button.desktop {
                cursor: pointer;
                border: 3px solid #0065FC;
                background-color: #0065FC;
                color: white;
                border-bottom-right-radius: 15px;
                border-top-right-radius: 15px;
                height: 29.5px;
                display: block;
            }
            button.mobile {
                display: none;
            }
        }
        
        @media only screen and (max-width: 768px) {
            .camere .camera {
                width: 33.5%;
                background-color: white;
                border-radius: 25 px;
                border: 4 px solid white;
                overflow: hidden;
                margin-bottom: 30 px;
            }
            .campop .camep {
                margin-top: 45px;
            }
            .most .camep a {
                position: relative;
                height: 0;
                padding-bottom: 70%;
                float: left;
                width: 41.12%;
            }
            .activitati .locuri {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 320px;
                flex-wrap: wrap;
                justify-content: space-between;
            }
            .locuri .loc a {
                position: relative;
                padding-bottom: 52%;
                width: 100%;
                float: left;
            }
            .locuri .loc1 a {
                position: relative;
                padding-bottom: 52%;
                width: 100%;
                float: left;
            }
            .locuri .loc12 a {
                position: relative;
                padding-bottom: 52%;
                width: 100%;
                float: left;
            }
            main .info p {
                margin: 0 0 0 5px;
                max-width: 49%;
            }
            .fil,
            .fil2 {
                float: left;
                font-weight: bold;
                font-size: 15px;
            }
            .fil1 a {
                border: 3px solid #F2F2F2;
                border-radius: 30px;
                font-size: 10px;
                font-weight: bold;
                padding-left: 0;
                height: 27px;
                text-decoration: none;
                color: black;
                float: left;
                margin-right: 6px;
                width: 140px;
            }
            .fil a i {
                color: #0065FC;
                background-color: #AFEEEE;
                border: 5px solid #AFEEEE;
                border-radius: 50%;
                height: 22px;
                width: 22px;
                text-align: center;
                line-height: 13px;
                margin-right: 15px;
            }
            .locuri .loc1 {
                width: 30%;
                background-color: white;
                border-radius: 25px;
                box-shadow: 1px 0px 0px 1px #c0c0c0;
                overflow: hidden;
                display: flex;
                flex-direction: column;
            }
            .locuri .loc1 a {
                position: relative;
                padding-bottom: 56%;
                width: 100%;
                float: left;
            }
            .locuri .loc12 a {
                position: relative;
                padding-bottom: 56%;
                width: 100%;
                float: left;
            }
            .locuri .loc12 {
                width: 30%;
                background-color: white;
                border-radius: 25px;
                box-shadow: 1px 0px 0px 1px #c0c0c0;
                overflow: hidden;
                display: flex;
                flex-direction: column;
            }
            .locuri .loc1 p {
                font-weight: bold;
                font-size: 13px;
                margin-left: 10px;
            }
            .locuri .loc p {
                font-weight: bold;
                font-size: 13px;
                margin-left: 10px;
            }
            .locuri .loc12 p {
                font-weight: bold;
                font-size: 13px;
                margin-left: 10px;
            }
            .locuri .loc a {
                position: relative;
                padding-bottom: 56%;
                width: 100%;
                float: left;
            }
            .locuri .loc {
                width: 30%;
                background-color: white;
                border-radius: 25px;
                box-shadow: 1px 0px 0px 1px #c0c0c0;
                overflow: hidden;
                display: flex;
                flex-direction: column;
            }
            .locuri .loc a img.mobile1 {
                display: block;
                position: absolute;
                width: auto;
                height: auto;
                max-width: 100%;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
            }
            .locuri .loc a img.desktop {
                display: none;
            }
            .locuri .loc a img.mobile {
                display: none;
            }
            .locuri .loc a img.mobile2 {
                display: none;
            }
            .locuri .loc1 a img.mobile1 {
                display: block;
                position: absolute;
                width: auto;
                height: auto;
                max-width: 100%;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
            }
            .locuri .loc1 a img.desktop {
                display: none;
            }
            .locuri .loc1 a img.mobile {
                display: none;
            }
            .locuri .loc1 a img.mobile2 {
                display: none;
            }
            .locuri .loc12 a img.mobile1 {
                display: block;
                position: absolute;
                width: auto;
                height: auto;
                max-width: 100%;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
            }
            .locuri .loc12 a img.desktop {
                display: none;
            }
            .locuri .loc12 a img.mobile {
                display: none;
            }
            .locuri .loc12 a img.mobile2 {
                display: none;
            }
            .mars .camere a img.desktop {
                position: absolute;
                width: auto;
                height: auto;
                max-width: 100%;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
            }
            .mars .camere a img.mobile {
                display: none;
            }
            .fil a.a31 {
                display: none;
            }
            button.desktop {
                cursor: pointer;
                border: 3px solid #0065FC;
                background-color: #0065FC;
                color: white;
                border-bottom-right-radius: 15px;
                border-top-right-radius: 15px;
                height: 29.5px;
                display: block;
            }
            button.mobile {
                display: none;
            }
        }
        
        @media only screen and (max-width: 640px) {
            .foter {
                flex-direction: column;
            }
            .locuri .loc12 a img.desktop {
                display: none;
            }
            .locuri .loc12 a img.mobile {
                display: none;
            }
            .locuri .loc12 a img.mobile1 {
                display: none;
            }
            .locuri .loc1 a img.desktop {
                display: none;
            }
            .locuri .loc1 a img.mobile {
                display: none;
            }
            .locuri .loc1 a img.mobile1 {
                display: none;
            }
            .locuri .loc a img.desktop {
                display: none;
            }
            .locuri .loc a img.mobile {
                display: none;
            }
            .locuri .loc a img.mobile1 {
                display: none;
            }
            .locuri .loc a img.mobile2 {
                display: block;
                position: absolute;
                width: auto;
                height: auto;
                max-width: 100%;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
            }
            .locuri .loc1 a img.mobile2 {
                display: block;
                position: absolute;
                width: auto;
                height: auto;
                max-width: 100%;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
            }
            .locuri .loc12 a img.mobile2 {
                display: block;
                position: absolute;
                width: auto;
                height: auto;
                max-width: 100%;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
            }
            .locuri .loc a {
                position: relative;
                padding-bottom: 25%;
                width: 100%;
                float: left;
            }
            .locuri .loc1 a {
                position: relative;
                padding-bottom: 25%;
                width: 100%;
                float: left;
            }
            .locuri .loc12 a {
                position: relative;
                padding-bottom: 25%;
                width: 100%;
                float: left;
            }
            .activitati .locuri {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 1190px;
                flex-wrap: wrap;
                justify-content: space-between;
            }
            .locuri .loc {
                width: 100%;
                background-color: white;
                border-radius: 25px;
                box-shadow: 1px 0px 0px 1px #c0c0c0;
                overflow: hidden;
                display: flex;
                flex-direction: column;
            }
            .locuri .loc1 {
                width: 100%;
                background-color: white;
                border-radius: 25px;
                box-shadow: 1px 0px 0px 1px #c0c0c0;
                overflow: hidden;
                display: flex;
                flex-direction: column;
            }
            .locuri .loc12 {
                width: 100%;
                background-color: white;
                border-radius: 25px;
                box-shadow: 1px 0px 0px 1px #c0c0c0;
                overflow: hidden;
                display: flex;
                flex-direction: column;
            }
            .tot {
                display: flex;
                width: 100%;
                flex-direction: column-reverse;
                justify-content: space-between;
            }
            .tot .mars {
                float: left;
                clear: left;
                border-radius: 15px;
                width: 100%;
                background-color: white;
            }
            .camere {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                width: 100%;
                justify-content: space-around;
            }
            .camere .camera {
                width: 100%;
                border: 4px solid white;
                overflow: hidden;
                background-color: white;
                border-radius: 25px;
                box-shadow: 1px 0px 0px 1px #c0c0c0;
                margin-bottom: 30px;
            }
            .mars .camere a {
                position: relative;
                height: 0;
                padding-bottom: 25%;
                width: 100%;
                float: left;
            }
            .mars .camere a img.desktop {
                display: none;
            }
            .mars .camere a img.mobile {
                position: absolute;
                width: auto;
                height: auto;
                max-width: 100%;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                display: block;
            }
            .most {
                padding: 20px;
                box-sizing: border-box;
                background-color: #F2F2F2;
                border-radius: 0;
                float: right;
                width: 100%;
            }
            .most .camep a {
                position: relative;
                height: 0;
                padding-bottom: 30%;
                float: left;
                width: 41.12%;
            }
            main .info p {
                margin: 0 0 0 5px;
                max-width: 100%;
            }
            .fil {
                width: 100%;
                font-weight: bold;
                font-size: 15px;
                padding: 0;
            }
            .fil1 {
                width: 100%;
            }
            .fil2 {
                float: left;
                font-weight: bold;
                font-size: 15px;
            }
            .fil a.a1 {
                float: left;
                width: 50%;
                margin: 0 0 5px 0;
            }
            .fil a.a2 {
                clear: left;
                width: 55%;
            }
            .fil a.a3 {
                float: left;
                display: none;
            }
            .fil a.a4 {
                clear: left;
                width: 58%;
            }
            .fil a.a31 {
                display: block;
                float: right;
                width: 50%;
                margin: 0 0 5px 0;
            }
            .fil a {
                margin-bottom: 5px;
                font-size: 20px;
            }
            .fil a i {
                color: #0065FC;
                background-color: #AFEEEE;
                border: 5px solid #AFEEEE;
                border-radius: 50%;
                height: 35px;
                width: 35px;
                text-align: center;
                line-height: 25px;
                margin-right: 15px;
            }
            .fil1 a {
                font-size: 13px;
                height: 41px;
            }
            button.desktop {
                display: none;
            }
            button.mobile {
                cursor: pointer;
                border: 3px solid #0065FC;
                background-color: #0065FC;
                color: white;
                border-radius: 10px;
                height: 29.5px;
                display: block;
            }
            input:focus,
            input:focus-visible {
                outline: 0;
                border-color: #0065FC;
                padding: 5px;
            }
            input[type=text] {
                float: left;
                height: 29.5px;
                text-align: center;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                font-weight: bold;
            }
            .item {
                padding-top: 45px;
                color: #0065FC;
                border-top: 2px solid transparent;
                float: left;
                font-size: 15px;
                width: 50%;
            }
            header ul.signup2 a {
                margin: 5px 20px;
                color: #0065FC;
                padding: 5px 0;
                float: left;
                text-decoration: none;
            }
            header ul.signup a {
                margin: 0;
                color: #0065FC;
                padding: 5px 0;
                float: right;
                text-decoration: none;
            }
            .item.logare {
                padding-top: 45px;
                color: #0065FC;
                border-top: 2px solid transparent;
                font-size: 15px;
                width: 100%;
            }
            header h1 {
                margin: 0;
                padding: 0;
                float: left;
                padding-top: 45px;
            }
            header ul.signup {
                list-style-type: none;
                float: right;
                padding: 0;
                margin: 0;
            }
            header ul.signup2 {
                list-style-type: none;
                float: right;
                width: 100%;
                padding: 0;
                margin: 0;
            }
            .item:active,
            .item.activ {
                border-bottom: 2px solid #0065FC;
                width: 50%;
                border-top: 0px;
                padding-left: 75px;
            }
            header ul.signup2 li.item2 a {
                margin: 5px 20px;
                color: black;
                padding: 5px 0;
                float: left;
                text-decoration: none;
            }
            .item2 {
                border-bottom: 2px solid #C0C0C0;
                width: 50%;
                border-top: 0px;
                padding-top: 10px;
                padding-left: 75px;
            }
            .item {
                padding-top: 10px
            }
            img {
                width: 80px;
                height: 28px;
            }
        }
        
        @media only screen and (max-width: 420px) {
            .activitati .locuri {
                height: 900px;
            }
        }
        
        @media only screen and (max-width: 320px) {
            .activitati .locuri {
                height: 700px;
            }
            .most .camep a {
                padding-bottom: 40%;
            }
            .fil1 a {
                font-size: 11px;
                height: 41px;
            }
        }
